@using PSD.Security
@using PSD.Controller
@using PSD.Model
@model List<Cat_Zone>

@{
    ViewBag.Title = "Catálogo de zonas";

}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="text-right">
            @if (Identity.CurrentUser.IsInRole(UserRole.AppAdmin + "," + UserRole.EmployeeManagerOperation + "," + UserRole.EmployeeRTVOperation))
            {
                <a class="btn-export" href="#"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exportar </a>
            }
            @if (Identity.CurrentUser.IsInRole(PSD.Controller.UserRole.AppAdmin))
            {
                <a>&nbsp;|&nbsp;</a><a href="/Administration/Catalog/ZoneAdd"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Crear nuevo</a>
            }
        </div>
        <table class="table datatable table-export">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Zona</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cat_Zone item in Model)
                {
                    <tr>
                        <td>@item.RegionName</td>
                        <td>@item.Name</td>
                        <td class="text-center"><a href="/Administration/Catalog/ZoneEdit/@item.Id" class=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                        <td class="text-center"><a href="#" class="" onclick='if (confirm("¿Está seguro de que desea eliminar este registro?")) window.location = "/Administration/Catalog/ZoneDelete/@item.Id"'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section pageCSS{
}
@section pageScripts{
    <script src="/Content/Components/Table2Excel/tableExport.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-export').on('click', function () {
                $('.table-export').tableExport({ type: 'excel' });//csv
            });
        });
   </script>
}