
@{
    ViewBag.Title = "Selecciona una de las opciones disponibles";
}
<ul>
    <li>
        <a class="" href="/ContentManagement/StartPage/UpdateJumbotronBkg">Actualizar imagen de inicio.</a>
    </li>
    <li>
        <a class="" href="/ContentManagement/StartPage/UpdateJumbotronContent">Actualizar texto de inicio.</a>
    </li>
</ul>
