
@{
    ViewBag.Title = "Selecciona una de las opciones disponibles";
}
<ul>
    <li>
        <a class="" href="/ContentManagement/ContactPage/ContactPageUpdate">Actualizar contenido (texto) pagina de contacto.</a>
    </li>
</ul>
