@using PSD.Security
@using PSD.Controller
@using PSD.Model
@model List<string>

@{
    ViewBag.Title = "Directorio";

}

<div class="row">
    <div class="col-md-12">
        @foreach (string item in new List<string>())
        { }
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group" id="grp">
            <span class="col-md-2"><img src="~/Content/Media/Shared/Pictures/person.jpg" alt="" style="width: 138px; height: 138px;" /></span>
            <div class="col-md-4">
                <ul style="list-style-type: none; text-indent: 0px; list-style-position: outside; margin: 0; padding: 0;">
                    <li>
                        <label>Juan Perez</label>
                    </li>
                    <li>
                        <label style="font-size: 13px;">&Aacute;rea</label>:&nbsp;<label>Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Puesto</label>:&nbsp;<label>Director de Compras</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">Tel&eacute;fono</label>:&nbsp;<label>1234 5678 ext. 101</label><br />
                    </li>
                    <li>
                        <label style="font-size: 13px;">EMail</label>:&nbsp;<label>juan.perez@bayer.com</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });

    </script>
}
