@using PSD.Model
@using PSD.Security
@{
    ViewBag.Title = "Cambio de contraseña";
    ViewBag.SubTitle = "";
}

@using (Html.BeginForm("ChangePassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-6", role = "form", onsubmit = "return ValidateForm()", name = "ChangePassword" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group" id="grpUserPassword">
        <label for="UserPassword" class="col-lg-4 control-label">Nueva Contraseña <span id="_lblValUserPassword" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-lg-8">
            <input type="password" class="form-control focus-on-load" name="userPassword" id="userPassword" placeholder="********" validate-required />
        </div>
    </div>
    <div class="form-group" id="grpUserPasswordConfirm">
        <label for="UserPasswordConfirm" class="col-lg-4 control-label">Confirmar nueva contrase&ntilde;a <span id="_lblValUserPasswordConfirm" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-lg-8">
            <input type="password" class="form-control" name="UserPasswordConfirm" id="UserPasswordConfirm" placeholder="********" validate-required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-4">
            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Actualizar contrase&ntilde;a</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = '/';">Cancelar</button>
        </div>
    </div>
}
@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        function ValidateForm() {
            return true;
        }
    </script>
}




