@using PSD.Model
@model PSD.Web.Models.UserLoginModel
@{
    ViewBag.Title = "Reinicio de contraseña";
}

<p>Escriba el correo electr&oacute;nico con el que inicia sesi&oacute;n normalmente, le enviaremos una liga con la que podr&aacute; reiniciar su contraseña.</p>
@using (Html.BeginForm("ForgotPassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-6", role = "form", onsubmit = "return ValidateForm()", name = "ForgotPassword" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group" id="grpNickName">
        <label for="NickName" class="col-lg-4 control-label">Correo Electr&oacute;nico <span id="_lblValNickName" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-lg-8">
            <input type="text" class="form-control focus-on-load" name="NickName" id="NickName" value="@Model.NickName" placeholder="Usuario" validate-required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-4">
            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Enviar correo</button>
        </div>
    </div>
}
@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        function ValidateForm() {
            return true;
        }
    </script>
}

